This notebook is to create a new field num_stars in the movies database.  
  
The stars in question are academy award nominees leading and supporting actor and actress from the years before the movie was released (1990 and up).  The count was incremented for each  nomination of the first 3 actors listed for the film.  
  
The information was obtained from the official academy award database at http://awardsdatabase.oscars.org/ampas_awards/BasicSearchInput.jsp

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.feature_extraction.text import CountVectorizer

%matplotlib inline

In [6]:
stars = pd.read_csv('academyAwardNominees.csv')
stars.head()

   year             actor
0  2006  Adriana Barraza
1  2002     Adrien Brody
2  1990        Al Pacino
3  1992        Al Pacino
4  1992        Al Pacino

In [30]:
movies = pd.read_pickle('movies_all.pkl')
movies.set_index(['Movie'])
#print(movies['actor_1_name'],movies['actor_2_name'],movies['actor_3_name'])
movies.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes', 'DomesticGross',
       'Movie', 'ProductionBudget', 'ReleaseDate', 'WorldwideGross', 'ix'],
      dtype='object')

In [58]:
movies['actor_1_name'] =  [str(actor).strip() for actor in movies['actor_1_name']]
movies['actor_2_name'] =  [str(actor).strip() for actor in movies['actor_2_name']]
movies['actor_3_name'] =  [str(actor).strip() for actor in movies['actor_3_name']]
stars['actor'] =  [str(actor).strip() for actor in stars['actor']]

In [60]:
movies['num_stars'] = 0
for index, row in movies.iterrows():
    stars_past = stars[stars['year']< row['title_year']]
    movies['num_stars'][index] = list(stars_past['actor']).count(row['actor_1_name']) + list(stars_past['actor']).count(row['actor_2_name']) + list(stars_past['actor']).count(row['actor_3_name'])
print(movies['num_stars'])

/home/kmitchell/anaconda2/envs/py35/lib/python3.5/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0       0
1       2
2       2
3       1
4       2
5       0
6       0
7       0
8       2
9       0
10      0
11      2
12      0
13      2
14      5
15      0
16      0
17      2
18      2
19      2
20      2
21      3
22      2
23      0
24      0
25      1
26      0
27      1
28      1
29      1
       ..
4508    0
4509    0
4510    0
4511    0
4512    0
4513    0
4514    0
4515    0
4516    0
4517    0
4518    0
4519    0
4520    0
4521    0
4522    0
4523    0
4524    0
4525    0
4526    0
4527    0
4528    0
4529    0
4530    0
4531    0
4532    0
4533    0
4534    0
4535    0
4536    0
4537    0
Name: num_stars, dtype: int64

In [63]:
movies['num_stars'].sum()

1846

In [65]:
movies.to_pickle('movies_stars.pkl')

In [16]:
stars[stars['year']<2010]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519 entries, 0 to 518
Data columns (total 2 columns):
year     519 non-null int64
actor    519 non-null object
dtypes: int64(1), object(1)
memory usage: 8.2+ KB